<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Hello, World!</h1>

    DATA {{.}}

    EXAMPLE 1 - Get the index
    {{index .users 2}}
    {{index .users 1}}
    {{index .users 0}}

    EXAMPLE 2 - Conditions
    {{range .users}}
        {{if .Admin}}
            {{.}}
        {{end}}
    {{end}}

    EXAMPLE 3 - and
    {{range .users}}
        {{if and .Name .Job}}
            {{.}}
        {{end}}
    {{end}}

    {{ range .numbers}}
        <p>{{.}} is lower then 5: {{lt . 5}}</p>
        <p>{{.}} is equals 5: {{eq . 5}}</p>
        <p>{{.}} is lower then 5: {{gt . 5}}</p>
    {{end}}
</body>
</html>